.ui_center {
  width: 500px !important;
}

.h1_center {
  text-align: center;
  margin-bottom: 2rem !important;
}

.indicatorsList {
  margin: 0;
  margin-top: -1rem;
  margin-bottom: 1rem;
}

.indicatorsList dd, dt{
  display: inline-block;
}

.indicatorsList dd{
  margin-inline-start: 1rem;
}